custom_*
*.log
*.json
endpoints/*
!endpoints/my_custom_endpoints.php
!endpoints/examples/
endpoints/examples/*
!endpoints/examples/**
archive
.history
faker
data/
!endpoints/examples/data/
!endpoints/examples/data/**
vendor/
composer.lock
